body{
	font-family: $font-family;
	font-size: $font-m;	
	background:$background-color;
	color:$font-color;
	font-weight: 300;
	font-weight: lighter;
	font-weight: light;
	line-height:1.25em;

	a{
		color:$black;
	}

	strong{
		font-weight:bold;
	}
}

.body-wrapper{
	margin:auto 15%;
	min-width:300px;
}

.header{
	//border-bottom:1px solid black;
	margin:5em 0 0 0;
	padding:0 0 0.5em;

	.header-h1{
		text-indent: -9999px;
		height:4em;
		background-image:url('../../tmp/logo_hm.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}

}

.content{
	margin:0.5em 0 0;

	h2{
		text-align:center;
		font-size:1.5em;
		margin:1em 0.5em;
		cursor:pointer;
		font-weight: 400;
	
		&.pink{
			color:$pink;
		}

	}

	.text{
		@include clearfix();
		display:none;
		margin:1em 4em 1em;
		text-align:justify;
		&.transition{
			display:block;
		}
	}

	p{
		margin:0em 0 1em;
	}

}

.footer{
	text-align:center;
	//border-top:1px solid black;
	margin:50px 0 5em;
	padding:0em 0 0;


	.logo-razitko{
		height:200px;
		background-image:url('../../tmp/logo_razitko.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 250px 250px;
	}

}

.main-menu{
	//display:inline-block;
	li{
		display:inline-block;
		padding:0 1em 0 0;
	}
}

.oznameni-wrapper{
	margin:1em 0 1em;
	clear:both;
	text-align:center;
	padding:0 0 2em;
}

.oznameni-pict{
	width:100%;
	border:1px solid $chocolate;
}

.kontakt-center{
	text-align:center;
}

p.gallery{
	@include clearfix();
	text-align:center;
	width:670px;
	margin:auto;

	a{
		float:left;
		margin-right:1em;
		margin-bottom:1em;
		text-decoration:none;
	}

}
